<main class="container">
  <app-nav-bar></app-nav-bar>

  <div class="images">
    <div class="row">
      <ng-container *ngFor="let item of products$ | async">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 product">
          <img
            class="w-100 h-auto d-block lazy"
            [src]="item.imagens[0].imagem"
            [alt]="item.descricao"
            itemprop="image"
            width="517"
            height="620"
          />

          <div class="product-details">
            <p>{{ item.nome }}</p>
          </div>

          <div class="product-sizes">
            <div class="product-size" *ngFor="let size of item.tamanhos">
              {{ size.nome }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</main>
